# READ: This is a template. Fill these in with your own details and rename to just `.env`

# Database Credentials
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db_name

# Internal Docker Connection URL
DB_URL=postgres://your_user:your_password@db:5432/your_db_name?sslmode=disable
